@mixin flex-row {
    display: flex;
    flex-flow: row wrap;
}

@mixin flex-column {
    display: flex;
    flex-flow: column wrap;
}

.board-game-page {
    @include flex-row;
    justify-content: space-around;
    padding-top: 2vw;
    .board-game-rank-rating {
        @include flex-column;
        justify-content: center;
    }
    .board-game-info {
        .board-game-play-stats {
            @include flex-column;
        }
    }
    .board-game-image-container {
        .board-game-image {
            height: 25vw;
        }
    }
    .board-game-description {
        p { padding: 2vw; }
    }
}