<div class='wished-owned-tiles-container'>
    <% @wished_games.each do |wished_game| %>
        <div class='wished-owned-game-tile'>
            <div class='wished-owned-game-name'>
                <h2><%= "#{wished_game.board_game.name}" %></h2>
            </div>
            <%= link_to image_tag(wished_game.board_game.image, class: "card-image", alt: "#{wished_game.board_game.name} Front Cover"), wished_game.board_game %>
            <div class='wished-owned-game-buttons'>
                <%= button_to 'Remove from Wishlist', destroy_wished_game_path(wished_game), method: :delete %>
            </div>
        </div>
    <% end %>
</div>