<nav class="primary-nav">
    <%= link_to "Top Games", root_path %>
    <%= link_to "Collection", owned_games_path %>
    <%= link_to "Trades", trades_path %>
    <%= link_to "Wishlist", wished_games_path %> 
</nav>