.primary-nav {
    background-color: lightblue;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}
.secondary-nav {
    background-color: lightblue;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    img {
        padding: 0.5vw;
        width: 2vw;
        height: 2vw;
        object-fit: cover;
    }
}