@mixin flex-row {
    display: flex;
    flex-flow: row wrap;
}

@mixin flex-column {
    display: flex;
    flex-flow: column wrap;
}

.wished-owned-tiles-container {
    @include flex-row;
    .wished-owned-game-tile {
        display: flex;
        flex-direction: column;
        background-color: lightgray;
        width: 25vw;
        height: 25vw;
        .wished-owned-game-name {
            text-align: center;
        }
        a {
            .card-image {
                width: 25vw;
                height: 25vw;
                object-fit: cover;
            }
        }
        .wished-owned-game-buttons {
            @include flex-column;
            justify-content: space-around;
            align-items: center;
        }  
    }
}